<% include ./partials/header %>

<div class ="ui main text container segment">
    <h1 class="ui block header"><%=blog.title%></h1>
            <div class="item">
               <img class="ui centered rounded image" src="<%= blog.image %>">
               <div class="content">
                   <span> <%= blog.created.toDateString() %> </span>
  
               </div>
               <div class="description">
                   <!--with a "-" it will run it as code instead of just its content-->
                   <p> <%- blog.body %> </p>
               </div>
            </div>
                <div class="two ui buttons">
                    <a href="/blogs/<%= blog._id%>/edit">
                        <button class="ui animated fade basic button" tabindex="0">
                            <div class="visible content">Edit</div>
                            <div class="hidden content"><i class="write icon"></i></div>
                        </button>
                    </a>
                    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="ui animated fade basic button" tabindex="0">
                            <div class="visible content">Delete</div>
                            <div class="hidden content"><i class="trash outline icon"></i></div>
                        </button>
                    </form>
                </div>
</div>
<% include ./partials/footer %>

